.input {
  height: 36px;
  color: #ffffff;
  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, 0.7);
  border-radius: 5px;
  padding: 0px 10px;
  margin: 7px 0px 0px 0px;
}

.input:focus,
input:active {
  outline: none;
  border-color: #ffffff;
}

input::placeholder {
  color: rgba(255, 255, 255, 0.7);
}
