.app {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.navigation {
  border: 2px solid black;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation ul {
  display: flex;
  gap: 15px;
}
